#clock{
    width: 35%;
    border: 1px solid red;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

body{
    background-color: grey;
}

img{
    width: 90%;
    background-color: brown;
    margin: 10px;
}

